.upperCaseVerde{
    color: hotpink;
    border: hotpink solid 1px;
    border-radius: 5px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.35) ;
    width: fit-content;
    padding: 5px 5px 5px 5px;
}